<!-- added simple home template to check results faster -->
<html>
  <body>
    <h1>Contacts</h1>
    {% for contact in contacts %}
      <p>{{contact.username}}</p>
    {% endfor %}
  </body>
</html>